# Credit Card Spending Habits in India

This dataset contains insights into a collection of credit card transactions made in India, offering a comprehensive look at the spending habits of Indians across the nation. From the Gender and Card type used to carry out each transaction, to which city saw the highest amount of spending and even what kind of expenses were made, this dataset paints an overall picture about how money is being spent in India today. With its variety in variables, researchers have an opportunity to uncover deeper trends in customer spending as well as interesting correlations between data points that can serve as invaluable business intelligence. Whether you're interested in learning more about customer preferences or simply exploring unbiased data analysis techniques, this data is sure to provide insight beyond what one could anticipate

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Credit card transactions - India - Simple.csv')

In [5]:
data.head(25)

    index                   City       Date  Card Type Exp Type Gender  Amount
0       0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1       1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2       2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3       3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4       4       Bengaluru, India   5-May-15       Gold    Bills      F  171574
5       5           Delhi, India   8-Sep-14     Silver    Bills      F  100036
6       6           Delhi, India  24-Feb-15       Gold    Bills      F  143250
7       7  Greater Mumbai, India  26-Jun-14   Platinum    Bills      F  150980
8       8           Delhi, India  28-Mar-14     Silver    Bills      F  192247
9       9           Delhi, India   1-Sep-14   Platinum    Bills      F   67932
10     10           Delhi, India  22-Jun-14   Platinum    Bills      F  280061
11     11  Greater Mumbai, India   7-Dec-13  Signature    Bills      F  278036
12     12  Greater Mumbai, India   7-Aug-14       Gold    Bills      F   19226
13     13           Delhi, India  27-Apr-14  Signature    Bills      F  254359
14     14  Greater Mumbai, India  15-Aug-14  Signature    Bills      F  302834
15     15  Greater Mumbai, India  28-Nov-14   Platinum    Bills      F  647116
16     16  Greater Mumbai, India  14-Jun-14  Signature    Bills      F  421878
17     17  Greater Mumbai, India  30-Mar-15       Gold    Bills      F  986379
18     18  Greater Mumbai, India  15-Mar-14   Platinum    Bills      F  213047
19     19  Greater Mumbai, India   9-Nov-13   Platinum    Bills      F  735566
20     20           Delhi, India   4-Apr-14  Signature    Bills      F  366102
21     21           Delhi, India   1-Jul-14  Signature    Bills      F  809623
22     22  Greater Mumbai, India  27-Mar-15     Silver    Bills      F  467014
23     23       Ahmedabad, India  11-Oct-13       Gold    Bills      F  668568
24     24       Ahmedabad, India  26-Mar-14       Gold    Bills      F  339112

In [6]:
data.tail(25)

       index              City       Date  Card Type Exp Type Gender  Amount
26027  26027    Kolkata, India  23-Nov-14  Signature   Travel      M  136863
26028  26028    Lucknow, India  20-Nov-13     Silver   Travel      F  263420
26029  26029     Kanpur, India   1-Jan-15   Platinum   Travel      M  224671
26030  26030    Lucknow, India  20-Jul-14     Silver   Travel      M  123503
26031  26031     Kanpur, India   7-Jul-14  Signature   Travel      M  262233
26032  26032     Kanpur, India   4-Feb-15   Platinum   Travel      F   20961
26033  26033     Jaipur, India   1-Oct-14   Platinum   Travel      F  286104
26034  26034     Kanpur, India   2-Dec-14   Platinum   Travel      F  178865
26035  26035       Pune, India   4-Jul-14  Signature   Travel      M  266219
26036  26036     Kanpur, India  28-Jul-14   Platinum   Travel      F   92560
26037  26037  Hyderabad, India  19-Jun-14  Signature   Travel      M    6875
26038  26038      Surat, India  19-May-15       Gold   Travel      M  269464
26039  26039     Kanpur, India  15-Dec-14     Silver   Travel      F  129095
26040  26040  Hyderabad, India  26-Oct-13       Gold   Travel      F  163352
26041  26041    Chennai, India   8-Dec-13  Signature   Travel      M  207941
26042  26042  Hyderabad, India  15-Jan-15     Silver   Travel      M  194550
26043  26043  Hyderabad, India  15-May-15     Silver   Travel      F  280335
26044  26044    Kolkata, India  14-Oct-14       Gold   Travel      M  243249
26045  26045    Kolkata, India  26-Feb-14  Signature   Travel      F  170049
26046  26046  Hyderabad, India   9-Oct-13  Signature   Travel      M  198903
26047  26047    Kolkata, India  22-Jun-14     Silver   Travel      F  128191
26048  26048       Pune, India   3-Aug-14  Signature   Travel      M  246316
26049  26049  Hyderabad, India  16-Jan-15     Silver   Travel      M  265019
26050  26050     Kanpur, India  14-Sep-14     Silver   Travel      M   88174
26051  26051  Hyderabad, India  19-Oct-13  Signature    Bills      M  184410